<p style="color: green"><%= notice %></p>

<div class="col-lg-8">
  <div class="card shadow">
    <div class="card-body">
      <%= render @post %>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to "Editar", edit_post_path(@post), class: "btn btn-warning" %> |
    <%= link_to "Voltar", posts_path, class: "btn btn-outline-primary" %>

    <%= button_to "Deletar", @post, method: :delete, class: "btn btn-danger" %>
  </div>
</div>