<p><%= notice %></p>

<div class="col-lg-8">
  <div class="card shadow">
    <div class="card-body">
      <%= render @post %>
    </div>
  </div>
  <div class="btn btn-toolbar mt-5">
    <%= link_to "Editar", edit_post_path(@post), class: "btn btn-warning me-2" %>
    <%= button_to "Deletar", @post, method: :delete, class: "btn btn-danger  me-2" %>
    <%= link_to "Voltar", posts_path, class: "btn btn-primary" %>
  </div>
</div>