<!DOCTYPE html>
<html class="text-bg-secondary p-3 text-bg-dark">
  <head>
    <meta charset="utf-8">
    <title>Café com TI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="card">
    <div class="container-center row d-flex">
      <%= yield %>
    </div>
  </body>
</html>